.footerContact{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    width: 100%;
}

.footerTexteContact{
    flex-direction: row;
    align-items: left;
    flex-wrap: nowrap;
    
}

.logoContact{
    display: flex;
   gap: 10px;
}

.logoContact #facebook{
    width:50px;}

.logoContact #twitter{
    width:50px;}

.logoContact #instagram{
    width:50px;}

.logoContact #tiktok{
    width:50px;}

.logoContact #youtube{
    width:50px;}

.logoContact #spotify{
    width:50px;
}

.basPage{
    background-color: $backgroundFooter;
    display:flex;
    justify-content: center;
    padding: 2%;
    
}

.basPageTexte{
  padding-right: 50px;
}


.lienFooter{
    padding-top: 10%;
}

.logoFooter{
    display:flex;
    flex-direction: column;
   
}

#animaux{
    width: 57px;
}

#unesco{
    width:150px;
}

#vbx{
    width:150px;  
}
