.footerContact{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    width: 100%;
}

.footerTexteContact{
    flex-direction: row;
    align-items: left;
    flex-wrap: nowrap;
    
}

// .footerTexteContact h2{


// }

.logoContact{
    display: flex;
   gap: 10px;
}

#facebook{
    color: blue;
    width:"30px";
}

#twitter{
    size:"30px";
}

#instagram{
    size:"30px";
}

#tiktok{
    size:"30px";
}

#youtube{
    size:"30px";
}

#spotify{
    size:"30px";
}

.basPage{
    background-color: $backgroundFooter;
    display:flex;
    justify-content: center;
    
  
}

.basPageTexte{
  padding: 20px;
}

.logoFooter{
    display:flex;
    flex-direction: column;
   
}

#animaux{
    width: "57px";
}

#unesco{
    width:"150px";
}

#vbx{
    width:"150px";  
}