.footerContact{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    width: 100%;
}

.footerTexteContact{
    flex-direction: row;
    align-items: left;
    flex-wrap: nowrap;
    p{
        font-family: $policeTexte;
        font-size: $tailleTexte;
    }
    h1{
        font-family: $policeTitre;
        font-size: $tailleTitreEvenement;
        color: $couleurTitreMain;
    }
}

.logoContact{
    display: flex;
   gap: 10px;
}

.logoContact #facebook{
    width:50px;}

.logoContact #twitter{
    width:50px;}

.logoContact #instagram{
    width:50px;}

.logoContact #tiktok{
    width:50px;}

.logoContact #youtube{
    width:50px;}

.logoContact #spotify{
    width:50px;
}

.footerMap{
    iframe{

        width: 600px;
        height: 350px;
    }
}

.basPage{
    background-color: $backgroundFooter;
    display:flex;
    justify-content: center;
    padding: 2%;
    
}

.basPageTexte{
  padding-right: 50px;
  font-family: $policeTexte ;
  color: $couleurTexte;
  font-size: $tailleTexte;
}


.lienFooter{
    padding-top: 5%;
    font-family: $policeTexte;
    font-size: 25px;
   
}

.logoFooter{
    display:flex;
    flex-direction: column;
   
}

#animaux{
    width: 57px;
}

#unesco{
    width:150px;
}

#vbx{
    width:150px;  
}


