.formulaire{

border: thick  $couleurTitreMain double;
margin-left: 10%;
margin-right: 10%;
padding-top: 20px;
padding-bottom: 100px;
background-color:$backgroundSection;
box-shadow:5px 5px  10px $couleurTitreHeader  ;
}

.formulaire h2{
    text-align: center;
    color:$couleurTitreMain;
    font-family: $policeTitre;
    text-transform: uppercase;
    padding-bottom: 30px;

}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;

}

.name{
    display: flex;
    gap: 200px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
    padding-bottom: 30px;
    
    
}
.lastname input{
    width: 152%;
    height:30px;
    margin-top: 10px;


}

.firstname input{
    width: 162%;
    height:30px;
    margin-top: 10px;
}






.mail-phone{
    display: flex;
    gap: 200px;
    padding-top: 15px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
    padding-bottom: 30px;
    
}

.email input{
    width: 150%;
    height:30px;

    margin-top: 10px;

}

.phone input{
    width: 150%;
    height:30px;
    margin-top: 10px;
}

.message{
    display: flex;
    flex-direction: column;
    padding-top: 15px;  
    gap: 10px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
}



.message textarea{
    width: 860px;
    height:200px;
    
}

.contact button{
    padding: 10px 30px;
    background-color: #a48438;
    font-family: $policeTexte ;
    color: $couleurTexte;
    margin-top: 20px;
    display: flex;
    align-self: flex-end;
    margin-right: 13.5%;
    border-radius: 20px;
    letter-spacing: 1px;
}

button:hover{
    background-color:rgb(29, 29, 95);
 }





 






