.formulaire{

border: 2px black solid;
margin-left: 10%;
margin-right: 10%;
padding-top: 20px;
padding-bottom: 20px;
background-color: $backgroundFooter ;
}

.formulaire h2{
    margin-left: 35%;
    color:$couleurTexte;
    font-family: $policeTitre;
    text-transform: uppercase;
}