.formulaire{

border: 1px black solid;
margin-left: 10%;
margin-right: 10%;
padding-top: 20px;
padding-bottom: 100px;
background-color: $backgroundFooter ;
}

.formulaire h2{
    text-align: center;
    color:$couleurTitreMain;
    font-family: $policeTitre;
    text-transform: uppercase;
    padding-bottom: 30px;

}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;

}

.name{
    display: flex;
    gap: 200px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
    padding-bottom: 30px;
    
    
}
.lastname input{
    width: 152%;
    height:30px;
    color: $couleurTitreMain;
    margin-top: 10px;


}

.firstname input{
    width: 162%;
    height:30px;
    color: $couleurTitreMain;
    margin-top: 10px;
}






.mail-phone{
    display: flex;
    gap: 200px;
    padding-top: 15px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
    padding-bottom: 30px;
    
}

.email input{
    width: 150%;
    height:30px;
    color: $couleurTitreMain;
    margin-top: 10px;

}

.phone input{
    width: 150%;
    height:30px;
    color: $couleurTitreMain;
    margin-top: 10px;
}

.message{
    display: flex;
    flex-direction: column;
    padding-top: 15px;  
    gap: 10px;
    color:$couleurTitreHeader ;
    font-family: $policeTitre;
    margin-left: 10%;
}



.message textarea{
    width: 860px;
    height:200px;
    color: $couleurTitreMain;
   

    
}

.contact button{
    padding: 5px 20px;
    background-color:$couleurTitreMain;
    font-family: $policeTexte ;
    margin-top: 20px;
    display: flex;
    align-self: flex-end;
    margin-right: 13.5%;

}


 






