.header h1 {
    color: rgb(238, 32, 32);
  }

  header {
    background-image: url(/images/accueil/image2.png);
    background-size: 100%;
    background-repeat: no-repeat;

    .logo{
      width: 5%;
    }
  
  }
  
  .header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  }
  
 