.header h1 {
    color:$couleurTitreHeader;
    align-items: center;
    font-family: $policeTitre;

   
  }

  header {
    background-image: url(/images/accueil/image2.png);
    background-size: 100%;
    background-repeat: no-repeat;  }

   
    .contenuhd {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 50px;
      background-color: rgba(0, 0, 0, 0.367);
      margin-left: 70%;
      }

      h2{
        font-family: $policeTexte ;
      }
  
.elementhd{
  h1{
    display: flex;
    justify-content: center;
  }

}
  .nav  {
list-style: none;
font-size: 10px;

a{
text-decoration: none;
color: white;
font-family: $policeTexte;
}

  }

ul{

  display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 25px;
    margin-right: 60px;
  
}

.logo img{
  width: 200px;

}
.logo{
  // margin-left: 50%;
  // margin-right: 20%;
}

// @media all and (max-width: 320px )(min-width: 820px){
//  .header{
//   background-size: 30%;
//   background-color: aqua;
  
//  } 

//  .elementhd {
// padding-right: 70px;
//   padding-bottom: 0px;
//   display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//   }
// }