.header h1 {
    color:$couleurTitreHeader;
    align-items: center;
    font-family: $policeTitre;

  }

  header {
    background-image: url(/images/accueil/image2.png);
    background-size: 100%;
    background-repeat: no-repeat; 
  height: 400px; }

   
   

     .header h2{
        font-family: $policeTexte ;
        margin: auto;
        color:$backgroundMain;
       
      }
  
.elementhd{

  display: flex;
  flex-direction: column;
 
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.367);
  margin-left: 70%;
  padding-bottom:64px ;
 


  h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
   

  }

}
  .nav  {

font-size: 15px;

 a{
text-decoration: none;
color: $backgroundMain;
font-family: $policeTexte;


}

  }

ul{

  display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 25px;
    margin-right: 60px;
    list-style: none;
  
}

.logo img{
  width: 200px;

}