h1 {
  color: darkgoldenrod;
}

body {
  margin: auto;
  padding: 0%;

}

body {
  margin: auto;
}

header {
  background-image: url(/images/accueil/image2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  color: rgb(236, 97, 22);
}















