#burger{
 
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10000;
    width: 50px;
  }
    
//   aside {
//     display:flex;
//     flex-direction: row-reverse;
//     height: auto;
//     width:auto;
//     max-width: 100%;
//     z-index: 1000;
    
//   }