#burger{
 
    display: none;
    position: absolute;
    width: 50px;
    right: 10px;
    top: 10px;
    z-index: 10000;
  }

  @media screen and ( max-width: 500px)  {

    #burger{
        display: block;
    }

    aside{
     
      display: none;
    }

    aside.active{
      display: block;
    }
    
  }
    
