.demarches{
    display: flex;
    padding: 10%;
    gap: 5%;
    .circle {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        width: 400px;
        height:400px;
        img{
            position: relative;
            display: flex;
          height: 80%;
            width: 80%;
            top: 7%;
        }
    }
    .demarchesTexte{
        flex-direction: column;
        p{
            text-align: start;
        }
       
    }
    .lienDemarche{
        display: flex;
        flex-direction: row;
       a{
        text-decoration: none;
       }
        h2{
          font-size: $tailleTexte;  
        }
    }
}