html {
    overflow-x: hidden;
}

.CorpsDePage {
    background-color: $backgroundMain;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 0%;

    .Event {
        background-color: $backgroundSection;
        width: 87%;
        margin-left: 4%;
        padding-left: 4%;
        padding-bottom: 4%;

        .DateEvent {

            h1 {
                display: flex;
                justify-content: center;
                color: $couleurTitreMain;
                font-family: $policeTitre;
                letter-spacing: 3px;
                font-size: $tailleTitreEvenement;
                padding-top: 2%;
                padding-left: 8px;
            }
        }
    }

    .BlocImgTxt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .TexteADroite {
        display: flex;
        flex-direction: column;
        align-self: center;
        color: white;
        width: 25%;
        margin-right: 15%;
        font-family: $policeTexte ;
        font-size: $tailleTexte;
    }

    .NouvelleTechnologie{
        width: 80%;
    }
    .NouvelleTechnologie img {
        display: flex;
        padding-bottom: 4%;
        width: 80%;
        margin-left: 1%;
    }
}


.DescriptionPrintempsNumerique {
    display: flex;
    gap: 20px;
    width: 86%;
    margin-left: 9px;
    font-family: $policeTexte ;
    font-size: $tailleTexte;
}

.VideoEvent {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

.footerContact{
    margin-bottom: 0;
}