.CorpsDePage {
    background-color: $backgroundMain;
    width: 100%;
    padding-bottom: 5%;

    .Event {
        background-color: $backgroundSection;
        width: 90%;
        margin-left: 4%;
        padding-left: 4%;
        margin-right: 7%;

        .DateEvent {

            h1 {display: flex;
                justify-content: center;
                color: $couleurTitreMain;
                font-family: $policeTitre;
                letter-spacing: 3px;
                font-size: $tailleTitreEvenement;
            }
        }

        .BlocImgTxt .TexteADroite{ 
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    #NouvelleTechnologie {
        width: 50%;
        margin-left: 1%;
    }
}