html {
    overflow-x: hidden;
}


.CorpsDePage {
    background-color: $backgroundMain;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 2%;

    .Event {
        background-color: $backgroundSection;
        width: 88%;
        margin-left: 4%;
        padding-left: 4%;
        padding-bottom: 4%;

        .DateEvent {

            h1 {
                display: flex;
                justify-content: center;
                color: $couleurTitreMain;
                font-family: $policeTitre;
                letter-spacing: 3px;
                font-size: $tailleTitreEvenement;

            }
        }
    }

    .BlocImgTxt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .TexteADroite {
        display: flex;
        flex-direction: column;
        align-self: center;
        color: white;
        width: 25%;
        margin-right: 8%;
        font-family: $policeTexte ;
        font-size: $tailleTexte;
    }


    .NouvelleTechnologie img {
        display: flex;
        padding-bottom: 4%;
        width: 80%;
        margin-left: 1%;

    }
}


.DescriptionPrintempsNumerique {
    width: 85%;
    margin-left: 9px;
    font-family: $policeTexte ;
    font-size: $tailleTexte;

}

.VideoEvent {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}