.ligne{

  border: 2px solid;
  color: $couleurTitreMain;
}
body {
  margin: 0;
  padding: 0%;
}

h2 {
  font-family: $policeTitre;
  color: $couleurTitreMain;
  font-size: $tailleTitreEvenement ;
  text-align: center;

}

p {
  font-family: $policeTexte;
  color: $couleurTexte;
  font-size: $tailleTexte ;
  text-align: center;
}

main {
  background-color: $backgroundMain;
  height: 80%;
  padding-top: 4%;
}

// media queries


