
body {
    margin: 0;
  padding: 0%;
  }

h2{
font-family:$policeTitre;
color: $couleurTitreMain;
font-size: $tailleTitreEvenement 40px;

}
p{
font-family:$policeTexte;
color: $couleurTexte;
font-size: $tailleTexte 20px;
text-align: justify;
}
main{
background-color: $backgroundMain;
height: 80%;
}
.containerun{
background-color: $backgroundSection;
margin:5%;
padding: 5%;
}
img {
  max-width: 100%;
}
.slider-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  height: 350px;
  overflow: hidden;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
  background: #1c87c9;
}
.slide-input{
  opacity: 0;
  position: absolute;
}
.slide-img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
.containerdeux{
display: flex;
flex-wrap: wrap;
gap: 10px;
img{border-radius: 100px 100px 0px 0px;
width: 300px;
height: 250px;
}

}