// Police des titres
$policeTitre :  'Lora', serif;

// Police textes
$policeTexte :  'Jost', sans-serif;

//Couleur Titres
$couleurTitreHeader : white;

$couleurTitreMain :  #DABB70;

$tailleTitreEvenement: 20px


//couleur Textes
$couleurTexte : white; 

// couleur background Main
$backgroundMain : #333333;

$backgroundFooter :  #4B6587;

$backgroundSection : #494747;



